ion-content {
  --ion-background-color: auto;

  #container {
    padding: 20px;

    h1 {
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
    }

    form {
      ion-item {
        --background: auto;
        --border-radius: 10px;
        --padding-start: 10px;
        --padding-end: 10px;
        margin-bottom: 10px;

        ion-label {
          font-size: 14px;
        }

        ion-input,
        ion-select {
          font-size: 14px;
        }
      }

      ion-button {
        --border-radius: 20px;
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 576px) {
  ion-content {
    #container {
      h1 {
        font-size: 20px;
      }

      form {
        ion-item {
          ion-label {
            font-size: 12px;
          }

          ion-input,
          ion-select {
            font-size: 12px;
          }
        }
      }
    }
  }
}