
<ion-content>  
  <div class=".box-container">    
    <strong> Ola, login</strong>
    <div *ngIf="userData">
      <img [src]="userData.photoURL" alt="Profile Picture" style="border-radius: 50%; border: 2px solid #000;">
      <p>{{ userData.displayName }}</p>
      <p>{{ userData.email }}</p>
      <button (click)="logout()">Cerrar sesión</button>
    </div>
    <div *ngIf="!userData">

      <button (click)="loginGoogle()">Iniciar sesión con Google</button>
    </div>

  </div>  
</ion-content>
