<ion-content>
  <div id="container">
    <h1>Citas Registradas</h1>
    <ion-button routerLink="/nueva-cita">Agendar una Cita</ion-button>
    <br>

    <!-- TABLA -->
    <div class="tabla-container">
      <table class="content-table">
        <thead>
          <tr>
            <th>Nombre del Paciente</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              prueba
            </td>
            <td>p</td>
            <td>p</td>
            <td>
              <ion-button color="medium" routerLink="/">Ver</ion-button>
            </td>
            <td>
              <ion-button clor>Historial</ion-button>
            </td>
            <td>
              <ion-button color="danger">Eliminar</ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</ion-content>