ion-menu::part(backdrop) {
    background-color: #007bff;
}

ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

ion-toolbar.slide{
    text-align: center;
    --background: #007bff;
}

ion-toolbar{
    --background:#343A40;
}
