<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar class="slide">
        <ion-title style="text-align: center;">Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>
              <ion-icon name="people"></ion-icon> Pacientes
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content" routerLink="/ver-paciente">
            <ion-icon name="person"></ion-icon> Paciente
          </div>
          <div class="ion-padding" slot="content" routerLink="/ver-cita">
            <ion-icon name="calendar"></ion-icon> Cita
          </div>

        </ion-accordion>
        <ion-accordion value="second">
          <ion-item slot="header" color="light">
            <ion-label>
              <ion-icon name="heart"></ion-icon> ¿Quién Somos
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content" routerLink="/nosotros">
            <ion-icon name="sparkles"></ion-icon> Owl
          </div>
          <div class="ion-padding" slot="content" routerLink="/card-clinica">
            <ion-icon name="medkit"></ion-icon> Clínicas
          </div>
        </ion-accordion>

        <ion-accordion value="third">
          <ion-item slot="header" color="light">
            <ion-label>
              <ion-icon name="settings"></ion-icon> Procesos de la Empresa</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content" routerLink="/ver-clinica">
            <ion-icon name="medkit"></ion-icon> Clínica
          </div>
          <div class="ion-padding" slot="content" routerLink="/ver-prof">
            <ion-icon name="briefcase"></ion-icon> Profesional
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-content>

    <ion-item>
      <ion-toggle slot="end" [checked]="darkMode" (ionChange)="toggleDarkMode()"></ion-toggle>
      <ion-icon *ngIf="!darkMode" name="sunny" class="sun"></ion-icon>
      <ion-icon *ngIf="darkMode" name="moon" class="moon"></ion-icon>
    </ion-item>
  </ion-menu>
  <!-- FIN SLIDE MENU -->

  <!-- LAYOUT -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar class="main">
        <div class="content">
          <ion-buttons slot="start" style="color: #fff;">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title style="text-align: center;" routerLink="/home">
            <ion-icon name="home" routerLink="/home"></ion-icon> Home | Owl</ion-title>
          <!-- Prueba para uso de variables de sesion -->
          <div *ngIf="userData">
            <div class="imagen-nombre-container">
              <div class="nombre-usuario" style="color: #fff">{{ userData.displayName }}</div>
              <div class="imagen-container">
                <img [src]="userData.photoURL" alt="Profile Picture"
                  style="border-radius: 50%; border: 2px solid #000;">
              </div>
            </div>
          </div>
          <div *ngIf="!userData">
            <ion-button style="margin-right: 15px;"  routerLink="/login"> Login </ion-button>
          </div>
        </div>
        <!-- Prueba para uso de variables de sesion -->
      </ion-toolbar>
    </ion-header>
    <!-- FIN LAYOUT -->

    <ion-content>
      <!-- MOSTRAR PÁGINAS -->
      <ion-router-outlet></ion-router-outlet>
    </ion-content>

  </div>
</ion-app>