ion-menu::part(backdrop) {
  background-color: #007bff;
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
}
ion-toolbar.slide{
  text-align: center;
  --background: #007bff;
}

ion-toolbar.main{
  --background:#343A40;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  font-size:10px;
  line-height: inherit;
  white-space: nowrap;
}

ion-title{
  color:#fff;
}

.content{
    display: flex;
}


.imagen-nombre-container {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos al extremo derecho */
    align-items: center; /* Centra verticalmente los elementos */
  }
  
  .imagen-nombre-container .nombre-usuario {
    margin-right: 10px; /* Espacio entre el nombre y la imagen */
  }
  
  .imagen-container {
    width: 50px;
    height: 50px;
  }

  .button-ion{
    color:white; 
  }