<ion-content>
  <div id="container">
    <h1>Profesionales Registrados</h1>
    <ion-button routerLink="/nuevo-prof">Agregar a un Profesional</ion-button>
    <br>

    <!-- TABLA -->
    <div class="tabla-container">
      <table class="content-table">
        <thead>
          <tr>
            <th>Nombre del Profesional</th>
            <th>Especialidad</th>
            <th>Clínica</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              prueba
            </td>
            <td>p</td>
            <td>p</td>
            <td>
              <ion-button color="medium" routerLink="/edi-prof">Editar</ion-button>
            </td>
            <td>
              <ion-button color="danger">Eliminar</ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</ion-content>