ion-content {
  --ion-background-color: auto;

  #container {
    padding: 20px;

    h1 {
      font-weight: bold;
      margin-bottom: 20px;
    }

    .tabla-container {
      margin-top: 20px;
      overflow-x: auto;
    }

    .content-table {
      border-collapse: collapse;
      margin: 0 auto;
      font-size: 0.9em;
      width: 100%;
      max-width: 800px;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

      thead tr {
        background-color: #333769;
        color: #fff;
        text-align: left;
        font-weight: bold;
      }

      th,
      td {
        padding: 12px 15px;
      }

      tbody tr {
        border-bottom: 1px solid #ddd;

        &:nth-of-type(even) {
          background-color: #f3f3f3;
        }

        &:last-of-type {
          border-bottom: 2px solid #333769;
        }

        &.active-row {
          font-weight: bold;
          color: #333769;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  ion-content {
    #container {
      h1 {
        font-size: 20px;
      }

      .content-table {
        font-size: 0.8em;

        th,
        td {
          padding: 8px 10px;
        }
      }
    }
  }
}