<ion-content>
  <ion-grid  id="container">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h1>Pacientes Registrados</h1>
        <ion-button routerLink="/nuevo-paciente">Agregar a un Paciente</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="tabla-container">
          <table class="content-table">
            <thead>
              <tr>
                <th>Nombre del Paciente</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of pacientes">
                <td>{{ p.nombre_cliente }} {{p.ap_pa}} {{p.ap_ma}}</td>
                <td>
                  <ion-button color="medium" routerLink="/edi-paciente/{{ p.id_paciente }}">Editar</ion-button>
                  <ion-button color="danger" (click)="deletePaciente(p.id_paciente)">Eliminar</ion-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>