<ion-content>
  <div id="container">
    <h1>Editar Clínica</h1>
    <ion-button routerLink="/ver-clinica">Cancelar</ion-button>
    <form [formGroup]="acClinica" (ngSubmit)="actualizarClinica()">
      <div class="form-group">

        <div class="center-form">
          <div class="form-container col-6">
            <label for="nombre">Nombre de la institución:</label>
            <ion-input type="text" formControlName="nombre" placeholder="Nombre" required></ion-input>
          </div>
          <div class="form-container col-6">
            <label for="descripcion">Descripción:</label>
            <ion-input type="text" formControlName="descripcion" placeholder="Descripción" required></ion-input>
          </div>
        </div>

        <div class="center-form">
          <div class="form-container col-6">
            <label for="direccion">Dirección:</label>
            <ion-input type="text" formControlName="direccion" placeholder="Dirección" required></ion-input>
          </div>
          <div class="form-container col-6">
            <label for="num_tel">Número de teléfono:</label>
            <ion-input type="text" formControlName="num_tel" placeholder="(499) xxx xxxx" required></ion-input>
          </div>
        </div>

        <div class="center-form">
          <button type="submit" ion-button>Actualizar</button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
