<ion-content [fullscreen]="true">
  <div class="box-container">
    <strong>Crear un usuario</strong>
    <form [formGroup]="formularioSingup" (ngSubmit)="createOneUsuario()">
      <div>
        <div>
          <ion-label>Nombre de usuario</ion-label>
          <ion-input type="text" id="nom_usuario" placeholder="Nombre de usuario" formControlName="nom_usuario"></ion-input>
          <ion-text color="danger" *ngIf="formularioSingup.controls['nom_usuario'].invalid && (formularioSingup.controls['nom_usuario'].dirty || formularioSingup.controls['nom_usuario'].touched)">
            <p *ngIf="formularioSingup.controls['nom_usuario'].hasError('required')">Nombre de usuario es requerido</p>
            <p *ngIf="formularioSingup.controls['nom_usuario'].hasError('usernameExist')">El nombre de usuario ya está en uso</p>
          </ion-text>
        </div>
        <div>
          <ion-label>Nombre completo</ion-label>
          <ion-input type="text" id="nombre" placeholder="Nombre" formControlName="nombre_completo"></ion-input>
          <ion-text color="danger" *ngIf="formularioSingup.controls['nombre_completo'].invalid && (formularioSingup.controls['nombre_completo'].dirty || formularioSingup.controls['nombre_completo'].touched)">
            <p *ngIf="formularioSingup.controls['nombre_completo'].hasError('required')">Nombre completo es requerido</p>
          </ion-text>
        </div>
        <div>
          <ion-label>Correo</ion-label>
          <ion-input type="email" id="correo" placeholder="Correo@ejemplo.com" formControlName="correo"></ion-input>
          <ion-text color="danger" *ngIf="formularioSingup.controls['correo'].invalid && (formularioSingup.controls['correo'].dirty || formularioSingup.controls['correo'].touched)">
            <p *ngIf="formularioSingup.controls['correo'].hasError('required')">Correo electrónico es requerido</p>
            <p *ngIf="formularioSingup.controls['correo'].hasError('email')">Correo electrónico no válido</p>
            <p *ngIf="formularioSingup.controls['correo'].hasError('emailsExist')">El correo electrónico ya está en uso</p>
          </ion-text>
        </div>
        <div>
          <ion-label>Contraseña</ion-label>
          <ion-input type="password" id="passw" placeholder="Contraseña" formControlName="passw"></ion-input>
          <ion-text color="danger" *ngIf="formularioSingup.controls['passw'].invalid && (formularioSingup.controls['passw'].dirty || formularioSingup.controls['passw'].touched)">
            <p *ngIf="formularioSingup.controls['passw'].hasError('required')">Contraseña es requerida</p>
            <p *ngIf="formularioSingup.controls['passw'].hasError('minlength')">La contraseña debe tener al menos 6 caracteres</p>
            <p *ngIf="formularioSingup.controls['passw'].hasError('pattern')">La contraseña debe contener al menos una mayúscula, un número y un signo especial</p>
          </ion-text>
        </div>
      </div>
      <ion-button type="submit" [disabled]="formularioSingup.invalid" expand="block">Guardar</ion-button>
    </form>
  </div>
</ion-content>
