<ion-content [fullscreen]="true">
  <div class="box-container">
    <strong>Registrate</strong>
    <form [formGroup]="formularioSingup" (ngSubmit)="createOneUsuario()">
      <div>
        <ion-item>
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input type="text" formControlName="nom_usuario" placeholder="Nombre de usuario"></ion-input>
          <ion-text color="danger"
            *ngIf="formularioSingup.controls['nom_usuario'].invalid && (formularioSingup.controls['nom_usuario'].dirty || formularioSingup.controls['nom_usuario'].touched)">
            <p *ngIf="formularioSingup.controls['nom_usuario'].hasError('required')">Nombre de usuario es requerido
            </p>
            <p *ngIf="formularioSingup.controls['nom_usuario'].hasError('usernameExist')">El nombre de usuario ya está
              en uso</p>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="person-add-outline" slot="start"></ion-icon>
          <ion-label position="floating">Nombre completo</ion-label>
          <ion-input type="text" formControlName="nombre_completo" placeholder="Nombre"></ion-input>
          <ion-text color="danger"
            *ngIf="formularioSingup.controls['nombre_completo'].invalid && (formularioSingup.controls['nombre_completo'].dirty || formularioSingup.controls['nombre_completo'].touched)">
            <p *ngIf="formularioSingup.controls['nombre_completo'].hasError('required')">Nombre completo es requerido
            </p>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" formControlName="correo" placeholder="Correo@ejemplo.com"></ion-input>
          <ion-text color="danger"
            *ngIf="formularioSingup.controls['correo'].invalid && (formularioSingup.controls['correo'].dirty || formularioSingup.controls['correo'].touched)">
            <p *ngIf="formularioSingup.controls['correo'].hasError('required')">Correo electrónico es requerido</p>
            <p *ngIf="formularioSingup.controls['correo'].hasError('email')">Correo electrónico no válido</p>
            <p *ngIf="formularioSingup.controls['correo'].hasError('emailsExist')">El correo electrónico ya está en uso
            </p>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="{{ passwordFieldType }}" formControlName="passw" placeholder="Contraseña"></ion-input>
          <ion-icon slot="end" (click)="togglePasswordVisibility()" [name]="passwordFieldType === 'text' ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          <ion-text color="danger"
            *ngIf="formularioSingup.controls['passw'].invalid && (formularioSingup.controls['passw'].dirty || formularioSingup.controls['passw'].touched)">
            <p *ngIf="formularioSingup.controls['passw'].hasError('required')">Contraseña es requerida</p>
            <p *ngIf="formularioSingup.controls['passw'].hasError('minlength')">La contraseña debe tener al menos 6
              caracteres</p>
            <p *ngIf="formularioSingup.controls['passw'].hasError('pattern')">La contraseña debe contener al menos una
              mayúscula, un número y un signo especial</p>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input type="password" formControlName="confirmPassw" placeholder="Confirmar Contraseña"></ion-input>
          <ion-text color="danger" *ngIf="formularioSingup.controls['confirmPassw'].invalid && (formularioSingup.controls['confirmPassw'].dirty || formularioSingup.controls['confirmPassw'].touched)">
            <p *ngIf="formularioSingup.controls['confirmPassw'].hasError('required')">Confirmar Contraseña es requerida</p>
            <p *ngIf="formularioSingup.controls['confirmPassw'].hasError('confirmPassword')">Las contraseñas no coinciden</p>
          </ion-text>
        </ion-item>
      </div>
      <ion-button type="submit" [disabled]="formularioSingup.invalid" expand="block">Guardar</ion-button>
    </form>
  </div>
</ion-content>