<ion-content>
  <ion-grid id="container">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h1>Clínicas Registradas</h1>
        <ion-button routerLink="/nueva-clinica">Agregar una Clínica</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="tabla-container">
          <table class="content-table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Clínica</th>
                <th>Descripción</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of clinicas">
                <td>{{c.id_clinica}}</td>
                <td>{{c.nombre}}</td>
                <td>{{c.descripcion}}</td>
                <td>
                  <ion-button color="medium" routerLink="/edi-clinica">Editar</ion-button>
                </td>
                <td>
                  <ion-button color="danger" (click)="deleteClinica(c.id_clinica)">Eliminar</ion-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>