<ion-content>
  <div id="container">
    <h1>Clínicas Registradas</h1>
    <ion-button routerLink="/nueva-clinica">Agregar una Clínica</ion-button>
    <br>

    <!-- TABLA -->
    <div class="tabla-container">
      <table class="content-table">
        <thead>
          <tr>
            <th>Clínica</th>
            <th>Descripción</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              Resiliente
            </td>
            <td>
              prueba
            </td>
            <td>
              <ion-button color="medium" routerLink="/edi-clinica">Editar</ion-button>
            </td>
            <td>
              <ion-button color="danger">Eliminar</ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</ion-content>