<ion-content>
  <swiper-container pagination="true" navigation="true">
    <swiper-slide>
      <img src="/assets/img/Anny_pet_0.2.png" width="500px" height="400px">
    </swiper-slide>
    <swiper-slide>
      <img src="/assets/img/oficina2.jpeg" width="500px" height="400px">
    </swiper-slide>
    <swiper-slide>
      <img src="/assets/img/logo3.png" width="500px" height="400px">
    </swiper-slide>
  </swiper-container>

  <!-- Articulos -->
  <div class="cont">
    <ion-card *ngFor="let a of articulos">
      <img [src]="a.img" alt="Imagen" class="b">
      <ion-card-content>
        <p class="ti">{{ a.titulo }}</p>
        <ion-button class="btn-leer-mas" [routerLink]="a.url">Leer más...</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- Fin Articulos -->
</ion-content>