<ion-content>
  <swiper-container class="mySwiper" pagination="true" navigation="true">
    <swiper-slide>
      <img
        src="https://static.vecteezy.com/system/resources/previews/023/630/408/non_2x/web-button-icon-next-button-free-png.png"
        width="500px" height="400px">
    </swiper-slide>
    <swiper-slide>
      <img
        src="https://static.vecteezy.com/system/resources/previews/023/630/408/non_2x/web-button-icon-next-button-free-png.png"
        width="500px" height="400px">
    </swiper-slide>
    <swiper-slide>
      <img src="https://i.ytimg.com/vi/N7XXb-lcvVY/hqdefault.jpg" width="500px" height="400px">
    </swiper-slide>
  </swiper-container>
</ion-content>


<ion-content>
  <div class="articulos">

  </div>
</ion-content> 