swiper-container{
  margin-top: 100px;
}
ion-card {
  max-width: 199px;
  margin: 10px;
}

ion-card img {
  max-width: 100%;
  height: 190px;
}

ion-card-content {
  text-align: center;
}

.boton-leer-mas {
  margin-top: 10px;
}

.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rectangulo {
  border: 2px solid #CCC;
  padding: 20px;
  margin: 20px;
  max-width: 400px;
}

.b {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
}

.ti {
  color: auto;
}