<ion-content>
  <ion-grid id="container">
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-margin-bottom">
        <h1>Agregar Clínica</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-margin-bottom">
        <ion-button routerLink="/ver-clinica">Cancelar</ion-button>
      </ion-col>
    </ion-row>
    <form [formGroup]="agClinica" (ngSubmit)="agregarClinica()">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Nombre de la institución:</ion-label>
            <ion-input type="text" formControlName="nombre" placeholder="Nombre" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Descripción:</ion-label>
            <ion-input type="text" formControlName="descripcion" placeholder="Descripción" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Dirección:</ion-label>
            <ion-input type="text" formControlName="direccion" placeholder="Dirección" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Número de teléfono:</ion-label>
            <ion-input type="text" formControlName="num_tel" placeholder="(499) xxx xxxx" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button type="submit" expand="block">Enviar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
